@model kafer_house.Models.ActualSold



<div>
    <h4>ActualSold</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qty)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shoppingmall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shoppingmall.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
