@model kafer_house.Models.DeliveryReturn

<div class="bg-body-light">
  <div class="content content-full">
    <div
      class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center"
    >
      <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">
      Delivery
      </h1>
      <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active" aria-current="page">Responsive</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="content">
  <div class="block block-rounded block-bordered">
    <div class="block-header block-header-default">
      <h3 class="block-title">Detail</h3>

      <a asp-action="Index">Back to List</a>
    </div>

    <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Date: @Html.DisplayFor(model => model.date)</h5>
    </div>

    <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Qty: @Html.DisplayFor(model => model.qty)</h5>
    </div>

        <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Status: @Html.DisplayFor(model => model.status)</h5>
    </div>

            <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Lot Date: @Html.DisplayFor(model => model.lotdate)</h5>
    </div>

        <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Product Name: @Html.DisplayFor(model => model.product.name)</h5>
    </div>

        <div class="block-content" style="margin-bottom: -30px">
      <h5 class="font-w300">Shoppingmall Name: @Html.DisplayFor(model => model.shoppingmall.name)</h5>
    </div>

  </div>
</div>