@model kafer_house.Models.CartActual





<h3>Cart Item Detail</h3>
<div>
   <h5> cart id: @Model.cartId</h5>
</div>
<div>
    <h5>created date : @Model.createdDate</h5>
</div>
<table class="table">
    <tr>
        <td>id</td>
        <td>price</td>
        <td>qty</td>
        <td>total</td>
    </tr>
    @{
      double gtotal = 0;
      foreach(var item in @Model.cartItems){
        double total = item.productPrice*item.productQty;
        gtotal = gtotal + total;
        <tr>
            <td>@item.productId</td>
            <td>@item.productPrice</td>
            <td>@item.productQty</td>
            <td>@total</td>
        </tr>
    
      }//end foreach
        <tr>
            <td>total:</td>
            <td></td>
            <td></td>
            <td>@gtotal</td>
        </tr>
      }
</table>
<a asp-action="index">Go to Cart</a>












<!-- model kafer_house.Models.CartActual



<h4>CartActual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cartId" />
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <input asp-for="createdDate" class="form-control" />
                <span asp-validation-for="createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 -->

