@model IEnumerable<kafer_house.Models.CartActual>


<p>
    <a href="/CartActual/create">new cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

