@model IEnumerable<kafer_house.Models.CartActualView>

  @section Scripts {
    <script>
    $(document).ready(function () {
            $('#dataTable').DataTable();
        });</script>
}

<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">
                Order
            </h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title">Index</h3>
        </div>
        <div class="block-content">
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>

        <div class="block-content block-content-full">
            <div class="table-responsive">
                <table id="dataTable" class="table table-hover table-bordered table-striped table-vcenter">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date Sold</th>
                            <th>Shopping Mall</th>
                            <th>Branch</th>
                            <th>Total</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td class="text-center" style="width:50px">
                                @item.Id
                            </td>
                        
                            <td >
                                @item.date.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                              @item.shoppingMallName
                          </td>
                            <td > 
                                @item.branchName
                            </td>
                            <td> 
                                @item.total
                            </td>
                             <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Horizontal Primary">
                                    <a
                                    asp-action="Details"
                                    asp-route-id="@item.Id"
                                    class="btn btn-primary"
                                    role="button"
                                  >
                                    <i class="fa fa-pencil-alt"></i>
                                  </a>
                                  <a
                                    asp-action="Delete"
                                    asp-route-id="@item.Id"
                                    class="btn btn-primary"
                                    role="button"
                                  >
                                    <i class="fa fa-times"></i>
                                  </a>
                                </div>
                                
                            </td>
                        </tr>
                    }
                     </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

